{
    "presets": [
        "env",
        "es2017",
        "stage-3"
    ],
    "plugins": [
        "transform-runtime",
        "syntax-dynamic-import",
        "babel-plugin-transform-async-to-generator"
    ]
}